{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<head>
	<title>Janscan - Japanese Product Information Fast</title>
	<meta charset='utf-8'>
	<link rel="stylesheet" href="{% static 'products/css/main.css' %}" type="text/css" media="all">
	<script src="{% static 'products/javascript/capture.js' %}">
  </script>
</head>
<body>
  <div class="container">
    <h1 class="pt-4">Scan a barcode or enter one manually:</h1>
    <div class="row">
      <div class="contentarea pt-5 col-sm">
        <div class="camera">
          <video id="video">Video stream not available.</video>
          <div class="d-flex align-self-center">
            <button id="startbutton">Start Scanning</button>
            <button class="d-none" id="stopbutton">Stop</button>
          </div>
        </div>
        <canvas id="canvas"></canvas>
      </div>
      <form method="post" class="form-inline col-sm pt-4" action="/products/add/">
        {% csrf_token %}
        {% bootstrap_form form %}
          <input type="submit" class='btn btn-outline-primary' value="Submit">
      </form>
    </div>
    <div class="row">
    {% if products %}
      <h2 class='my-4'>Check out the most recently added products:</h2>
        {% for product in products %}
            <div class="card m-3 col-sm-3 border-0" style="width: 9rem;">
              <img class="card-img-top" src="{{product.image_link}}" alt="product image">
              <div class="card-body">
                <a href="/products/{{product.id}}/" class="card-link">{{product.name}}</a>
              </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No products are available.</p>
    {% endif %}
    </div>
  </div>
</body>
